* {
    font-family: 'Itim', cursive;
}

a {
    color: #fafafa;
}

body {
    background-color: #808080;
}

.header {
    background-color: #808080;
}

.header ul {
    list-style-type: none;
    text-align: center;
}

.header ul  li{
    background-color: #474A51;
    text-align: center;
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 5px;

    transition: background-color 400ms;
}



.header ul  li:hover {
    background-color: #A9A9A9;
}

body figure img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

body figure figcaption{
    text-align: center;
}

main section {
    background-color: #474A51;
    border-radius: 3rem;
    text-align: center;

    max-width: 600px;
    margin: 0 auto;
    color: #fafafa;
}

main section ul, ol {
    list-style-type: none;
}

footer p{
    text-align: center;
}

footer div {
    text-align: center;
}